<div style="margin-top: 1%">
    <div class="row">
        <div class="col-md-2">
            <span class="list-group-item list-group-item-action active" data-toggle="list" role="tab" aria-controls="home">Bienvenue, {{userData.firstname}} {{userData.name}}</span>
            <br />
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" (click)="displayPersonnalFolder()">Dossier personnel</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" aria-controls="profile">Dossiers / Fichiers partagés</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" (click)="openDialogUserInfo()">Gérer son compte</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" (click)="logout()" aria-controls="settings">Déconnexion</a>
            </div>
        </div>
        <div class="col-md-10">
            <h3>{{ pageTitle }}</h3>
            <div class="row">
                <div class="col-md-6">
                    <ol [hidden]="currentPath === '' " class="breadcrumb">
                        <li *ngFor="let navElement of navigationBar" (click)="displayFolderContents(navElement.folder, navElement.path)" [ngClass]="getBreadCrumbClasses(navElement.folder)">{{ navElement.title }}</li>
                    </ol>
                </div>
                <div class="col-md-3">
                    <span>
                        <button type="button" (click)="openDialogNewFile()" class="btn btn-secondary">Nouveau fichier</button>
                        <button type="button" (click)="openDialogNewFolder()" class="btn btn-secondary">Nouveau dossier</button>
                    </span>
                </div>
                <div class="col-md-3">
                    <span>
                        <input class="form-control" type="text" (keyup)="filterList()" [(ngModel)]="search" placeholder="Rechercher un fichier ou un dossier" aria-label="Search">
                    </span>
                </div>
            </div>

            <div class="dropzone" appHome>
                <span class="img-with-text" *ngFor="let element of _searchList" (dblclick)="getElement(element)" style="margin : 0.5em">
                    <img [src]="'../assets/' + getIcon(element) + '_icon.png'" />
                    <span>{{ element }}</span>
                </span>
            </div>
        </div>
    </div>
</div>
