.dropzone {
    min-height: 400px;
    min-width: 400px;
    position: relative;
    height: auto;
    width: auto;
    background-color: #eee;
    border: dotted 1px #aaa;
}

.img-with-text {
    max-width: 5em;
    display: inline-block;
}

.img-with-text span {
    max-width: 5em;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.img-with-text img {
    margin : 0px;
    display: block;
}
