<div style="margin-top: 1%">
    <div class="row">
        <div class="col-md-2">
            <span class="list-group-item list-group-item-action active" data-toggle="list" role="tab" aria-controls="home">Bienvenue, {{userData.firstname}} {{userData.name}}</span>
            <br />
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" (click)="displayPersonnalFolder()">Dossier personnel</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" (click)="displaySharedFolders()">Dossiers / Fichiers partagés</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" (click)="openDialogUserInfo()">Gérer mon compte</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" (click)="openDialogStockage()">Gérer mon espace de stockage</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" (click)="logout()" aria-controls="settings">Déconnexion</a>
            </div>
        </div>
        <div class="col-md-10">
            <div *ngIf="error">
                {{ error }}
            </div>
            <h3>{{ pageTitle }}</h3>
            <div class="row">
                <div class="col-md-6">
                    <ol [hidden]="navigationBar.length === 0" class="breadcrumb">
                        <li *ngFor="let navElement of navigationBar;  let ind = index;" (click)="displayFolderContents(navElement.folder, navElement.path)" [ngClass]="fileUtils.getBreadCrumbClasses(ind, navigationBar.length)">{{ navElement.title }}</li>
                    </ol>
                </div>
                <div class="col-md-3">
                    <span>
                        <button type="button" (click)="openDialogNewFile()" class="btn btn-primary">Nouveau fichier</button>
                        <button type="button" (click)="openDialogNewFolder()" class="btn btn-primary">Nouveau dossier</button>
                    </span>
                </div>
                <div class="col-md-3">
                    <span>
                        <input class="form-control" type="text" (keyup)="fileUtils.filterList()" [(ngModel)]="fileUtils.search" placeholder="Rechercher un fichier ou un dossier" aria-label="Search">
                    </span>
                </div>
            </div>

            <div class="dropzone" appHome>
                <span class="img-with-text" *ngFor="let element of fileUtils.searchList | orderBy : ['+element.name']" [contextMenu]="basicMenu" [contextMenuSubject]="element" (dblclick)="getElement(element.name)" style="margin : 0.5em">
                    <img [src]="'../assets/' + fileUtils.getIcon(element.name) + '_icon.png'" />
                    <span>{{ element.name }}</span>
                </span>
                <context-menu>
                    <ng-template>
                        <div style="color: red">
                            <div *ngIf="name.errors && (name.dirty || name.touched)">
                                Le nom du fichier est obligatoire et doit comporter son extension (.txt, .doc, etc.).
                            </div>
                            <br />
                        </div>
                    </ng-template>
                    <ng-template contextMenuItem let-item passive="true">
                        <div class="btn btn-primary" *ngIf="this.currentPath === '' && this.currentFolder === ''">Partager</div>
                        <div class="btn btn-primary">Déplacer</div>
                        <div>
                            <input type="text" name="name" required maxlength="255" #name="ngModel" [pattern]="fileNamePattern" [(ngModel)]="newElementName">
                            <button class="btn btn-primary" (click)="renameElement(item?.name)">Renommer</button>
                        </div>
                        <div class="btn btn-danger" (click)="deleteElement(item?.name)">Supprimer</div>
                    </ng-template>
                </context-menu>
            </div>
        </div>
    </div>
</div>
